.home {
    height: 100%;
    padding-top: 45vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.2)
        ),
    url('../images/indiraTren.jpg') center top;
    background-size: cover;
    &__name {
        font-size: 3rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 650;
        }
    }
    .social-icons {
        font-size: .7rem;
    }
}
